representations/database_slatm.npz
representations/amons_SOAP_data.npz
representations/amons_SLATM_data.npz
representations/database_SOAP.npz
representations/database_SLATM.npz
representations/database_aCM.npz
representations/database_FCHL.npz
representations/database_SLATM_global.npz
representations/*SLATM*.npz
representations/*SOAP*.npz
representations/qm7_aCM_data.npz
.ipynb_checkpoints/
algorithms/__pycache__/
cluster/data/*.npz
cluster/models/*.mps
cluster/__pycache__/
cluster/scripts/__pycache__/
cluster/run/*.out
cluster/plots/*.png
cluster/rankings/*.npy
cluster/learning_curves/*.npz
cluster/run/*.json
cluster/run/*.out
cluster/solutions/*.csv
