representations/database_slatm.npz
representations/amons_SOAP_data.npz
representations/amons_SLATM_data.npz
representations/database_SOAP.npz
representations/database_SLATM.npz
representations/database_aCM.npz
representations/database_FCHL.npz
representations/database_SLATM_global.npz
representations/*SLATM*.npz
representations/*SOAP*.npz
representations/qm7_aCM_data.npz
.ipynb_checkpoints/
algorithms/__pycache__/
/data/*.npz
models/*.mps
__pycache__/
scripts/__pycache__/
run/*.out
plots/*.png
plots/*.svg
plots/*.pdf
plots/*.py
rankings/*.npy
learning_curves/*.npz
run/*.json
run/*.out
solutions/*.csv

plot_energies.py
plot_local_sim_2.py
plot_local_sim_3.py
regression.py