representations/database_slatm.npz
representations/amons_SOAP_data.npz
representations/amons_SLATM_data.npz
representations/database_SOAP.npz
representations/database_SLATM.npz
representations/database_aCM.npz
representations/database_FCHL.npz
representations/database_SLATM_global.npz
representations/*SLATM*.npz
representations/*SOAP*.npz
representations/qm7_aCM_data.npz
.ipynb_checkpoints/
algorithms/__pycache__/
